{% for df in context.dfs %}{% set index = loop.index %}{% include 'shared/dataframe.tmpl' with context %}{% endfor %}

<conversation>
{{context.memory.get_conversation()}}
</conversation>
-Please rephrase the user's query, '{{query}}', to include a desired output format such as a table, plot, or string/number, to facilitate clearer and more targeted data analysis
-Use the provided dataframe and conversation to return the rephrased sentence of "{{query}}” in order to obtain more accurate and comprehensive responses without any explanations.

Rephrased query: